SECRET_KEY=ramdomstringthatismeanttobelong
DATABASE_URL=sqlite:///instance/n_kitchens.db
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
TELEGRAM_BOT_TOKEN=8622786775:AAF-EIavsdGQlerQ0DMp3vTSGgHI5GD2xlE
TELEGRAM_CHAT_ID=8516624852
